/* layout */
.cardGame{
}

.toolbar{
}

.field{
    position: relative;
}

/* gameButton */
.gameButton{

}

img{
  height: 150px;
  width: 100px;
  alt: '';
  cursor: pointer;
}
/* mainDeck */
.mainDeck{
  position: absolute;
  top: 0px;
  height: 300px;
  width: 200px;
  left: 2.5em;
}

/* dealDeck */
.dealDeck{
  position: absolute;
  top: 0px;
  left: 250px;
  height: 300px;
  width: 200px;
}
/* playingDecks */
.playingDecks{
    position: absolute;
    top:500px;
    height: 300px;
    width: inherit;
}

.playingDeck{
    height: 250px;
    width: 200px;
}

.cards{
    display: inline-block;
    height: 250px;
    width:inherit;
    margin: 2.5em;
}

.playingDeckCard{
    height: inherit;
    width: inherit;
}

*{
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
        box-sizing: border-box;
}

