/* layout */
.cardGame{
}

.toolbar{
}

.field{
    position: absolute;
    top: 50px;
}

/* gameButton */
.gameButton{

}
/* common*/
.decks{
  position: relative;
  top: 0px;
  height: 175px;
  display: inline-block;
  left: 2.5em;
  margin-left: 2.5em;
}
.deck{
  display: inline-block;
  margin-right: 2.5em;
  height: inherit;
  width: 120px;
}
img{
  height: 150px;
  width: 100px;
  alt: '';
  cursor: pointer;
}
/* row1*/
#mainDeck{
  width: 120px;
}

#dealDeck{
  width: 120px;
}
#targetDecks{
  left: 360px;
}

/* playingDecks */
#playingDecks{
  width: inherit;
  top:50px;
}



*{
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
        box-sizing: border-box;
}

